.workbench_screen{
    position: absolute;
    z-index: 9;
    width: 75vw; height: 90vh;
        
    display: none;
    overflow: auto;
    box-sizing: border-box;
    gap: 0;
}
.workbench_screen h1, .workbench_screen h2{
    margin: 0.2rem;
}

@media (max-width: 800px){
    .workbench_screen{
        width: 95vw; height: 95vh;
    }
}

.atributo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.atributos-alinhados{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

.atributo{
    padding: 0.2rem;
}

.atributo:hover{
    padding: 0.5rem;
}

.atributos-alinhados *{
    animation: aparecer 500ms ease-in-out;
    transition: all ease-in-out 200ms;
}

.mapa-mundi{
    width: 450px;
    height: 350px;
}

@media (max-width: 500px) {
    .mapa-mundi{
        width: 350px;
        height: 250px;
    }
}
@media (max-width: 400px) {
    .mapa-mundi{
        width: 300px;
        height: 200px;
    }
}
@media (max-width: 300px) {
    .mapa-mundi{
        width: 250px;
        height: 150px;
    }
}