:root {
    --gradientebranco: linear-gradient(white);
    --gradienteTransparente: linear-gradient(to top left, rgba(255, 255, 255, 0.418),rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0.048));
    --gradienteRoxo: linear-gradient(to bottom right,rgb(76, 30, 201),  rgb(15, 5, 155));
    --gradienteAzul: linear-gradient(to bottom right, rgb(0, 55, 221), rgb(0, 31, 126), rgb(0, 11, 49));
    --corFundo: linear-gradient(rgb(80, 32, 136), rgb(23, 44, 107), rgb(10, 18, 43), rgb(3, 7, 19));
    --gradienteVermelho: linear-gradient(to bottom right, rgb(255, 35, 35), rgb(230, 16, 16), rgb(133, 0, 0));
    --azulPadrao: rgb(10, 41, 133);
}

body{
    overflow: hidden;
}

::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}

.fonte-futuretimes{
    font-family: "FutureTimes";
    color: white;
    letter-spacing: 3px;
}

.fonte-comum{
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
}

.tx-yellow{
    color: rgb(255, 255, 30);
}

.tx-pink{
    color: rgb(204, 115, 255);
}


.fonte-roxa{
    color: rgb(50, 14, 255);
}

h2, h3 {
    margin: 0px;
}

button{
    padding: 0.5rem 2rem;
    font-weight: bolder;
    font-size: 16pt;
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
    cursor: pointer;
    background-image: var(--gradienteRoxo);
    
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 2rem;
    transition: all 200ms ease-in-out;
    outline: none;
}

button:hover{
    background-image: linear-gradient(rgb(255, 255, 255));
    font-weight: bolder;
    color: rgb(68, 35, 160);
}

.red-button{
    background-image: var(--gradienteVermelho);
}

.red-button:hover{
    color: rgb(184, 23, 23);
}

.blue-button{
    background-image: var(--gradienteAzul);
}

.blue-button:hover{
    color: rgb(16, 55, 170);
}

.row-buttons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.row-buttons *{
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

@media (max-width: 450px) {
    .row-buttons{
        flex-direction: column;
    }

    .row-buttons *{
        padding: 0.2rem 1rem;
    }
}

.column-buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.column-buttons > *{
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

.red-effect{
    width: 100vw; height: 100vh;
    margin: 0px;
    position: absolute;
    z-index: 7;
    display: none;
    opacity: 1;
    transition: all 50ms ease-in-out;
    backdrop-filter: blur(10px);
    pointer-events: none;
}

.blur-box{
    width: 100vw; height: 100vh;
    background-color: rgba(8, 8, 8, 0.589);
    display: none;
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 9;
    opacity: 0;
    transition: ease-in-out all 200ms;
}

.animated-aparecer{
    animation: aparecer 500ms ease-in-out;
}

.animated-buttons *{
    animation: aparecer 500ms ease-in-out;
}

@keyframes aparecer{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

a{
    color: white;
}

.pointer{
    cursor: pointer;
}

.link{
    cursor: pointer;
}

.layerZero{
    z-index: 0;
}

.layerUm{
    z-index: 1;
}

.layerDois{
    z-index: 2;
}

.layerTres{
    z-index: 3;
}

.no-click{
    pointer-events: none;
}

.player{
    position: absolute;
    pointer-events: none;
}

.inimigo, .boss{
    cursor: pointer;
    transition: filter 0.300ms ease-in-out;
    transition: grid-row 0.25s ease-in-out, grid-column 0.25s ease-in-out;
}

.inimigo:hover, .boss:hover{
    filter: brightness(150%);
}

.boss{
    z-index: 3;
}

.voador{
    opacity: 1;
    position: absolute;
    transition: all 200ms ease-in-out;
}

.voadorPequeno{
    width: 64px;
    height: 64px;
}

.voadorMédio{
    width: 120px;
    height: 120px;
}

.voadorGrande{
    width: 180px;
    height: 180px;
}

@media (max-width: 500px) {
    .voadorPequeno{
        width: 32px;
        height: 32px;
    }

    .voadorMédio{
        width: 45px;
        height: 45x;
    }

    .voadorGrande{
        width: 100px;
        height: 100px;
    }
}

.tx-yellow{
    color: rgb(255, 255, 43);
}

.tela-comum{
    background-image: var(--gradienteAzul);
    border: 1px solid rgba(255, 255, 255, 0.096);
}

.alerta{
    background-color: rgba(255, 255, 255, 0.151);
    border: 1px solid rgba(255, 255, 255, 0.096);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    box-sizing: border-box;
}

.description{
    z-index: 8;
    position: absolute;
    display: block;
    opacity: 0;

    color: white;
    background-image: var(--gradienteRoxo);
    border: 1px solid rgba(255, 255, 255, 0.096);
    padding: 0.5rem 1rem;
    transition: 50ms all ease-in-out;
    border-radius: 1rem;
}

.description p{
    text-align: center;
    font-weight: bolder;
    font-family: "Ysabeau Infant", sans-serif;
    margin: 0px;
    padding: 0px;
}

.room-apresentation{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.562), rgba(12, 12, 12, 0.192));
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 8vh;
    left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
    padding: 0.5rem 1rem;
    z-index: 9;
}

.room-apresentation h1{
    letter-spacing: -0.1rem;
}

.room-apresentation * {
    margin: 0px;
}

.room-apresentation h1{
    font-size: 30pt;
}

.room-apresentation p{
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bolder;
}

#notificacoes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    z-index: 100;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);

}

#notificacoes > *{
    background-image: var(--gradienteAzul);
    border: 1px solid rgba(255, 255, 255, 0.137);
    width: 20vw;
    height: 5vh;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

#notificacoes p, #notificacoes h3{
    margin: 0px;
}

@media (max-width: 800px) {
    #notificacoes > *{
        width: 50vw;
    }
}



