#caixa-dialogo{
    width: 70vw; height: 20vh;
    border-radius: 1rem;
    background-image: var(--gradienteAzul);
    color: white;
    position: absolute;

    z-index: 99;
    bottom: 6vh;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}

#titulo-dialogo, #textinho-dialogo{
    margin: 0px;
}

#titulo-dialogo{
    font-size: 1.5rem;
}
#textinho-dialogo{
    font-weight: bolder;
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 1rem;
}

.disponivel{
    border: 1px solid rgba(1, 56, 156, 0.788);
}

.caixa-dialogo-data{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#caixa-dialogo .row-buttons *{
    border-radius: 0%;
}

@media (max-width: 800px){
    #caixa-dialogo{
        flex-direction: column;
        width: 90vw; height: 33vh;
        bottom: 3vh;
    }

    #caixa-dialogo .row-buttons{
        flex-direction: row;
    }
}