.filtroTemploAgua{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(53, 141, 255, 0.37);
    pointer-events: none;
    backdrop-filter: blur(1px);
}