*::selection{
    background-color: transparent;
}

body{
    margin: 0px;
}

#conteiner{
    height: 600px;
    width: 600px;
    gap: 0px;

    display: grid;

    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.tiles{
    background-size: cover;
    z-index: 0;
    cursor: pointer;
    box-sizing: border-box;
}
.tiles:hover{
    filter: brightness(2);
    border: 3px solid rgb(255, 255, 255);
}

@media (max-width: 199px){
    #conteiner{
        height: 100px; width: 100px;
    }
}

@media (max-width: 200px) and (max-height: 200px){
    #conteiner{
        height: 150px; width: 150px;
    }
}

@media (min-width: 201px) and (max-width: 300px){
    #conteiner{
        height: 200px; width: 200px;
    }
}

@media (min-width: 301px) and (max-width: 400px){
    #conteiner{
        height: 300px; width: 300px;
    }
}

@media (min-width: 401px) and (max-width: 500px){
    #conteiner{
        height: 400px; width: 400px;
    }
}

@media (min-width: 501px) and (max-width: 600px){
    #conteiner{
        height: 500px; width: 500px;
    }
}

