body{
    margin: 0px;
    padding: 0px;
    
    background-image: var(--corFundo);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}

body *{
    margin: auto;
    text-align: center;    
}

main{
    width: 80vw;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

.main-image{
    display: block;
    width: 240px; height: 240px;
    margin: 0.5rem auto;
}

.titulo{
    animation: aparecer 500ms ease-in-out;
}

.titulo-destaque{
    font-size: 75pt;
}

h1{
    font-size: 50pt;
}

#titulo h2{
    font-size: 30pt;
}

.texto-padrão{
    font-size: 14pt;
    text-align: center;
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
}

@media (max-width: 400px) {
    .main-image{
        width: 160px; height: 160px;
    }
}

.telinha{
    width: 80vw; height: 80vh;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
        
    border-radius: 1rem;
    display: none;
    flex-direction: column;
}

@media (max-width: 550px) {
    .telinha{
        width: 95vw; height: 80vh;
    }
}

.telinha .column-buttons{
    width: 100%;
}

.telinha .row-buttons{
    width: 70%;
}

.row-buttons{
    margin-bottom: 0.5rem;
}

.save-button i{
    display: inline-block;
    width: auto;
    flex: none;
}

.save-button{
    border-radius: 0rem;
}

.empty{
    background-image: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.288);
}
