body{
    margin: 0px;
    padding: 0px;
    
    background-image: linear-gradient(rgb(69, 32, 112), rgb(17, 32, 78), rgb(10, 18, 43), rgb(3, 7, 19));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}

body *{
    margin: auto;
    text-align: center;    
}

.fonte-futuretimes{
    font-family: "FutureTimes";
    color: white;
    letter-spacing: 3px;
}

main{
    width: 80vw; height: 80vh;
    position: absolute;
    top: 1rem; left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
}

#inicial-imagem{
    display: block;
    width: 300px; height: 300px;
    margin: auto;
}

.titulo-destaque{
    font-size: 75pt;
}

h1{
    font-size: 50pt;
}

#titulo h2{
    font-size: 30pt;
}

button{
    width: 30%; height: 10%;
    font-weight: bolder;
    font-size: 15pt;
    font-family: "Ysabeau Infant", sans-serif;
    display: block;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to bottom right,rgb(113, 51, 138), rgb(28, 51, 119), rgb(22, 38, 88));
    border: rgba(255, 255, 255, 0.24) 2px solid;
    transition: all 200ms ease-in-out;
    padding: 0.5rem;
}

button:hover{
    background-image: linear-gradient(rgb(255, 255, 255));
    color: rgb(113, 51, 138);
}

#versao{
    width: 90%;
    text-align: center;
    bottom: 10px;
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
}

@media (max-width: 500px) {
    #inicial-imagem{
        width: 200px; height: 200px;
    }
}

.telinha{
    width: 60vw; height: 60vh;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom right,rgb(113, 51, 138), rgb(28, 51, 119), rgb(22, 38, 88));
    z-index: 2;
    display: none;
    flex-direction: column;
    border: 2px solid white;
}

