html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body *{
    margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
    background-image: var(--corFundo);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    width: 80vw;
    height: 80vh;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    box-sizing: border-box;
    overflow: auto;

    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: center;
    gap: 1.2rem;
}

section{
    z-index: 1;
    background-image: var(--gradienteAzul);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.inventario-cabecalho, .inventario-corpo{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inventario-dados{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#menu{
    flex: 0.4;
    align-items: stretch;
    gap: 5px;
}

h1{
    color: white;
    font-size: 40pt;
}

h2{
    color: white;
}

h3{
    color: white;
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: bolder;
}

section img{
    width: 200px; height: 200px;
}

@media (max-width: 800px) {
    main{ flex-direction: column-reverse;}
    section img{width: 100px; height: 100px;}
    
}

.i-box-blux{
    width: 100vw; height: 100vh;
    background-color: rgba(8, 8, 8, 0.589);
    z-index: -1;
    backdrop-filter: blur(10px);
    position: absolute;
}

.botao-inativo{
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
    background-color: transparent;
    background-image: none;
    border: none;
    font-weight: bolder;
    font-size: 12pt;
    border-left: rgba(255, 255, 255, 0.452) 3px solid;
    border-bottom: rgba(255, 255, 255, 0.452) 3px solid;
}
