html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body *{
    margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
    background-image: var(--corFundo);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    width: 80vw;
    height: 80vh;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    box-sizing: border-box;
    

    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: center;
    gap: 1.2rem;
}

section{
    z-index: 1;
    background-image: var(--gradienteAzul);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: auto;
}

.inventario-cabecalho, .inventario-corpo{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inventario-dados, .bestiario-dados{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#menu{
    flex: 0.4;
    align-items: stretch;
    gap: 5px;
}

h1{
    color: white;
    font-size: 40pt;
}

h2{
    color: white;
}

h3{
    color: white;
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: bolder;
}

.inventario-image{
    width: 200px; height: 200px;
}

@media (max-width: 800px) {
    main{ flex-direction: column-reverse;}
    .inventario-image{width: 150px; height: 150px;}
    
}

.i-box-blux{
    width: 100vw; height: 100vh;
    background-color: rgba(8, 8, 8, 0.589);
    z-index: -1;
    backdrop-filter: blur(10px);
    position: absolute;
}

.botao-inativo{
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
    background-color: transparent;
    background-image: none;
    border: none;
    font-weight: bolder;
    font-size: 12pt;
    border-left: rgba(255, 255, 255, 0.452) 3px solid;
    border-bottom: rgba(255, 255, 255, 0.452) 3px solid;
}

.atributos-alinhados, .atributo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.atributos-alinhados{
    padding: 1rem 0rem;
}

.atributo{
    padding: 0.2rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.082);
}

.atributo:hover{
    padding: 0.5rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.274);
}

.atributos-alinhados *{
    animation: aparecer 500ms ease-in-out;
    transition: all ease-in-out 200ms;
}

.gear{
    width: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itens-conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0.2rem;
    box-sizing: border-box;
}

.item-conteiner{
    padding: 0.2rem;
    background-image: var(--gradienteRoxo);
    border: 2px rgba(255, 255, 255, 0.459) solid;
    box-sizing: border-box;
    cursor: pointer;
    transition: 200ms ease-in-out all;
}

.item-conteiner:hover{
    padding: 0.3rem;
    background-image: var(--gradientebranco);
}

.item {
    width: 64px; height: 64px;
}

.quests-conteiner{
    width: 90%;
    padding: 0.5rem;
    background-image: var(--gradienteTransparente);
    border: 3px rgba(255, 255, 255, 0.459) solid;
    overflow-y: scroll;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.quest{
    padding: 0.5rem;
    background-image: var(--gradienteAzul);
    border: 1px solid rgba(255, 255, 255, 0.096);
}

.quest *{
    color: white;
}

@media (max-width: 700px){
    .inventario-cabecalho, .inventario-corpo{
        width: 98%;
        flex-direction: column;
    }

    .inventario-corpo{
        gap: 0.5rem;
    }

    main{
        width: 95vw;
        height: 95vh;
    }

    section{
        gap: 0.5rem;
    }

    .inventario-dados, .bestiario-dados{
        width: 100%;
    }

    .inventario-dados .row-buttons{
        width: 100%;
    }

    .atributos-alinhados{
        
        gap: 0.5rem;
        flex-direction: column;
    }

    .atributo{
        gap: 0.5rem;
        border-bottom: none;
    }
    .atributo:hover{
        border-bottom: none;
    }
}