html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body *{
    margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
    background-image: var(--corFundo);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    display: flex;
    border-radius: 1rem;
    overflow: auto;
}

.inventario-container{
    width: 80vw;
    height: 80vh;
}

.inventario-cabecalho h1{
    margin: 0;
    text-align: left;
}

.inventario-cabecalho, .inventario-corpo{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inventario-dados, .bestiario-dados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu{
    flex: 0.4;
    align-items: stretch;
    gap: 5px;
}

.inventario-image{
    width: 200px; height: 200px;
}

@media (max-width: 800px) {
    main{ flex-direction: column-reverse;}
    .inventario-image{width: 150px; height: 150px;}
}

.i-box-blux{
    width: 100vw; height: 100vh;
    background-color: rgba(8, 8, 8, 0.589);
    z-index: -1;
    backdrop-filter: blur(10px);
    position: absolute;
}

.atributos-alinhados, .atributo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

.atributos-alinhados{
    padding: 1rem 0rem;
    gap: 1.2rem;
}

.atributos-alinhados *{
    animation: aparecer 500ms ease-in-out;
    transition: all ease-in-out 200ms;
}

.gear{
    width: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quests-conteiner{
    height: 50%;
    width: 90%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0.5rem;
    background-image: var(--gradienteTransparente);
    border: 1px rgba(255, 255, 255, 0.459) solid;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.quests-conteiner::-webkit-scrollbar {
    width: 6px;
}

.quests-conteiner::-webkit-scrollbar-thumb {
    background-image: var(--gradienteAzul);
    border: 1px rgba(255, 255, 255, 0.459) solid;
    border-radius: 10px;
}

.quest{
    padding: 0.5rem;
    background-image: var(--gradienteAzul);
    border: 1px solid rgba(255, 255, 255, 0.219);
    border-radius: 0.5rem;
}

.quest *{
    color: white;
}

.descreve-item{
    border: 1px solid rgba(255, 255, 255, 0.219);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    overflow: auto;
    display: flex;
    align-items: center;
}

@media (max-width: 700px){
    .inventario-cabecalho, .inventario-corpo{
        width: 98%;
        flex-direction: column;
    }

    .inventario-corpo{
        gap: 0.5rem;
    }

    main{
        width: 95vw;
        height: 95vh;
    }

    section{
        gap: 0.5rem;
    }

    .inventario-dados, .bestiario-dados{
        width: 100%;
    }

    .inventario-dados .row-buttons{
        width: 100%;
    }

    .atributos-alinhados{
        gap: 0.5rem;
        flex-direction: column;
    }

    .atributo{
        width: 100%;
        border-bottom: none;
    }
    .atributo:hover{
        border-bottom: none;
    }

    .quests-conteiner{
        height: 50%;
        width: 100%;
    }
}