:root {
    --lendario: linear-gradient(to bottom right,rgb(127, 43, 184),  rgb(35, 14, 95));
    --raro: linear-gradient(to bottom right,rgb(255, 231, 19),  rgb(255, 187, 0));
    --comum: linear-gradient(to bottom right,rgb(31, 109, 255), rgb(0, 79, 224),  rgb(0, 61, 173));
    --nulo: linear-gradient(to bottom right,rgb(63, 63, 63),  rgb(26, 26, 26));
}

.Comum{
    background-image: var(--comum);
}

.Raro{
    background-image: var(--raro);
}

.Lendário{
    background-image: var(--lendario);
}

.Nulo{
    background-image: var(--nulo);
}

.Raro p{
    color: var(--azulPadrao) !important;
}

.Comum p, .Lendário p{
    color: white;
}

.itens-conteiner{
    max-width: 100%;
    max-height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0.2rem;
    box-sizing: border-box;
    border: 1px rgba(255, 255, 255, 0.144) solid;
    border-radius: 0.5rem;
}

@media (max-width: 700px) {
    .itens-conteiner{
        max-width: 90%;
        overflow: auto;
        flex-wrap: nowrap;
    }
}

.itens-conteiner::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.itens-conteiner::-webkit-scrollbar-thumb {
    background-image: var(--gradienteTransparente);
    border: 1px rgba(255, 255, 255, 0.459) solid;
    border-radius: 10px;
}

.item-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.5rem;
    border: 1px rgba(255, 255, 255, 0.356) solid;
    border-radius: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: 200ms ease-in-out all;
}

.item-conteiner:hover{
    background-image: var(--gradientebranco);
}

.item-conteiner:hover p{
    color: rgb(0, 79, 224);
}

.item-conteiner img{
    width: 60px; height: 60px;
}

@media (max-width: 400px) {
    .item-conteiner img{
        width: 40px; height: 40px;
    }
}

.item-conteiner p{
    text-align: center;
    font-weight: bolder;
    margin: 0px;
}