.menu{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.options{
    color: white;
    position: absolute;
    background-image: var(--gradienteAzul);
    border-radius: 1rem;
    width: 40vw; height: 50vh;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-place{
    color: white;
    position: absolute;
    background-image: var(--gradienteAzul);
    border-radius: 1rem;
    width: 60vw; height: 90vh;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-place h3{
    font-size: 24pt;
}

@media (max-width: 1000px) {
    .show-place{
        width: 80vw;
    }
}