.menuJogo{
    width: 85vw; height: 85vh;
    display: none;
}

.menuJogo h2{
    font-size: 50pt;
    margin: 0.2rem;
}

.menuJogo h3{
    font-size: 25pt;
    margin: 0.2rem;
}

.deque-section-conteiner{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.deque-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

@media (max-width: 660px) {
    .menuJogo h2{
        font-size: 30pt;
    }

    .menuJogo h3{
        font-size: 20pt;
    }

    .menuJogo{
        width: 98vw; height: 95vh;
    }

    .deque-section-conteiner{
        flex-direction: column;
    }
}

.game-over{
    color: white;
    background-image: var(--gradienteAzul);
    border-radius: 1rem;
    
    position: absolute;
    width: 85vw; height: 85vh;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over h3, .game-over h2{
    text-align: center;
}