.menuJogo{
    color: white;
    background-image: var(--gradienteAzul);
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 1rem;
    
    position: absolute;
    width: 85vw; height: 85vh;
    z-index: 99;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.menuJogo h2{
    font-size: 50pt;
}

.menuJogo h3{
    font-size: 25pt;
}

@media (max-width: 660px) {
    .menuJogo h2{
        font-size: 30pt;
    }

    .menuJogo h3{
        font-size: 20pt;
    }

    .menuJogo{
        width: 98vw; height: 95vh;
    }
}

.game-over{
    color: white;
    background-image: var(--gradienteAzul);
    border-radius: 1rem;
    
    position: absolute;
    width: 85vw; height: 85vh;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over h3, .game-over h2{
    text-align: center;
}