.menu{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

@media (max-width: 860px){
    .menu{
        position: absolute;
        top: auto;
        bottom: 1rem;
        left: 40vw;
        z-index: 7;
    }
}

.options{
    width: 40vw; height: 50vh;
    display: none;
}

@media (max-width: 940px) and (min-width: 651px){
    .options{
        width: 60vw; height: 50vh;
    }
}

@media (max-width: 650px) and (min-width: 401px){
    .options{
        width: 70vw; height: 60vh;
    }
}

@media (max-width: 400px){
    .options{
        width: 70vw; height: 70vh;
    }
}

.show-place{
    color: white;
    position: absolute;
    background-image: var(--gradienteAzul);
    border-radius: 1rem;
    width: 60vw; height: 90vh;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-place h3{
    font-size: 24pt;
}

@media (max-width: 1000px) {
    .show-place{
        width: 80vw;
    }
}