#status{
    background-image: var(--gradienteAzul);
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
    gap: 0.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    
    z-index: 7;
    position: absolute;
    right: 20px;
    top: 10px;
    filter: drop-shadow(-8px 5px 10px #00000086);
    transition: all ease-in-out 200ms;
}

#status *{
    box-sizing: border-box;
}

.status-item{
    margin: 0px;
}

#barra-vida{
    width: 100%; height: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

#status-vida{
    font-weight: bolder;
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 100%;
}

#status-boss-hp{
    font-weight: bolder;
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    box-sizing: border-box;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#status-hp, #status-time-attack, #contagem-ataque, #status-boss-hp{
    border: 3px solid rgb(255, 255, 255);
    border-bottom: 3px rgba(255, 255, 255, 0.247) solid;
    border-radius: 50px;
    width: 100%; height: 40px;
    padding-left: 2rem; padding-right: 2rem;
}

#status-hp{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
    background: linear-gradient(to right, rgb(50, 14, 255) 100%, black 100%);
    transition: background-image 0.3s ease;   
}

#status-time-attack{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to right, rgb(20, 102, 54) 100%, rgb(47, 34, 63) 100%);
    transition: background-image 0.3s ease;
}

#contagem-ataque{
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;

    font-size: 12pt;

    font-family: "Ysabeau Infant", sans-serif;
    text-align: center;
    background-color: red; 
}

#dados-inimigo{
    font-size: 10pt;
    font-family: "Ysabeau Infant", sans-serif;
    text-align: center;
    color: white;
}

.reward{
    color: white;
    width: 70vh; height: 70vh;
    display: none;
}

.reward h3{
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 18pt;
    text-align: center;
}

.reward img{
    width: 120px; height: 120px;
    filter: drop-shadow(-3px 5px 30px #ffffff2d);
}
.reward p{
    font-family: "Ysabeau Infant", sans-serif;
    text-align: center;
    font-size: 16pt;
}

#damage-count{
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(180, 0, 0), rgba(255, 0, 0, 0));
    pointer-events: none;
    opacity: 0;
    position: absolute;
    width: 90%;
    z-index: 8;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 30%; left: 50%;
    padding: 2rem;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 100ms;
}

#damage-count *{
    color: white;
    margin: 2px;
}

#damage-count h2{
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 50pt;
}
#damage-count h3{
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 30pt;
}

#show-rewards{
    position: absolute;
    right: 20px;
    bottom: 130px;
    border: none;
    background-color: none;
    width: 100px;
    height: 100px;
    padding: 0%;
    cursor: pointer;
    border: 3px solid rgb(102, 78, 12);
    border-radius: 50%;
}
#show-rewards img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#show-rewards img:hover{
    filter: brightness(50%);
}

#screen-show-rewards{
    color: white;
    font-family: "FutureTimes"; 
    letter-spacing: 3px;

    border-radius: 1rem;
    background-image: var(--gradienteAzul);
    position: absolute;
    z-index: 8;
    width: 90vw; height: 85vh;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dequeRewards{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.cardReward{
    padding: 0.4rem;
    background-image: var(--gradienteRoxo);
    border: 2px rgba(255, 255, 255, 0.459) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: 200ms ease-in-out all;
}

.cardReward *{
    margin: 0;
}

.cardReward img{
    width: 64px; height: 64px;
}

@media (max-width: 900px) {
    #status{
        justify-content: flex-start;
        width: 100vw;
        left: 0px;
        right: 0px;
        bottom:0px;
        height: 50%;
    }

    .reward{
        width: 80vw; height: 80vw;
    }
    .reward h3{
        font-size: 14pt;
    }
    .reward p{
        font-size: 10pt;
    }
    .reward img{
        width: 60px; height: 60px;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    #status{
        top: 610px;
    }
}
@media (max-width: 200px){
    #damage-count{
        top: 10%;
    }
    #damage-count h2{
        font-size: 30pt;
    }
    #damage-count h3{
        font-size: 20pt;
    }
    #status{
        top: 160px;
    }
    #show-rewards, #weapon{
        width: 60px; height: 60px;
    }
    .reward{
        width: 90vw; height: 70vh;
    }
}
@media (min-width: 201px) and (max-width: 300px){
    #damage-count{
        top: 10%;
    }
    #damage-count h2{
        font-size: 30pt;
    }
    #damage-count h3{
        font-size: 20pt;
    }
    #status{
        top: 210px;
    }
    #show-rewards, #weapon{
        width: 80px; height: 80px;
    }
    .reward{
        width: 90vw; height: 70vh;
    }
}
@media (min-width: 301px) and (max-width: 400px){
    #damage-count{
        top: 15%;
    }
    #damage-count h2{
        font-size: 30pt;
    }
    #damage-count h3{
        font-size: 20pt;
    }
    #status{
        top: 360px;
    }
    #show-rewards, #weapon{
        width: 80px; height: 80px;
    }
    .reward{
        width: 90vw; height: 70vh;
    }
}
@media (min-width: 401px) and (max-width: 500px){
    #damage-count{
        top: 15%;
    }
    #status{
        top: 410px;
    }
    #show-rewards, #weapon{
        width: 80px; height: 80px;
    }
}
@media (min-width: 500px) and (max-width: 600px){
    #damage-count{
        top: 20%;
    }
    #status{
        top: 510px;
    }
}