#status{
    border: 8px solid rgb(2, 2, 26);
    background-image: linear-gradient(to bottom right,rgb(13, 29, 77), rgb(7, 20, 59));
    padding: 5px 8px 10px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    width: 18vw;
    height: 50%;
    
    z-index: 90;
    position: absolute;
    right: 20px;
    top: 10px;
}

#status *{
    box-sizing: border-box;
}

.status-item{

    margin: 0px;
}

.botao-status{
    font-weight: bolder;
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    text-align: center;
    color: rgb(13, 56, 22);
    background-color: rgb(97, 255, 83);
    border: 3px solid rgb(13, 56, 22);
    width: 100%;
    cursor: pointer;
}

.botao-ativo{
    font-weight: bolder;
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
    cursor: pointer;
    background-color: rgb(27, 27, 201);
    border: 3px solid rgb(13, 13, 73);
}

.botao-inativo{
    font-weight: bolder;
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    color: white;
    background-color: rgb(37, 37, 37);
    border: 3px solid rgb(22, 22, 22);
}
.botao-inativo:hover{
    background-color: rgb(63, 63, 63);
    border: 3px solid rgb(22, 22, 22);
}

#action-button button{
    text-align: center;
    width: 100%;
}
.botao-status:hover, .botao-ativo:hover{
    color: rgb(27, 27, 201);
    background-color: white;
}

#barra-vida{
    width: 100%; height: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

#status-vida{
    font-weight: bolder;
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 100%;
}

#status-hp{
    box-sizing: border-box;
    
    background: linear-gradient(to right, rgb(14, 50, 255) 100%, black 100%);
    transition: background-image 0.3s ease;

    border: 3px solid rgb(255, 255, 255);
    border-bottom: 3px rgba(255, 255, 255, 0.247) solid;
    border-radius: 50px;
    width: 100%; height: 30px;
}

#coords{
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    text-align: center;
    color: white;
}

#contagem-ataque{
    font-size: 12pt;
    font-family: "Ysabeau Infant", sans-serif;
    text-align: center;
    color: white;
}

#dados-inimigo{
    font-size: 10pt;
    font-family: "Ysabeau Infant", sans-serif;
    text-align: center;
    color: white;
}

#weapon{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px; height: 100px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(32, 32, 32);
}

.reward{
    color: white;
    font-family: "Delius Swash Caps";
    background-color: rgb(14, 30, 255);
    border: 3px solid rgb(13, 13, 73);
    position: absolute;
    z-index: 999;
    width: 70vh; height: 70vh;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reward h3{
    font-size: 24pt;
    text-align: center;
}

.reward img{
    width: 120px; height: 120px;
    filter: drop-shadow(-3px 5px 30px #ffffff);
}
.reward p{
    font-size: 18pt;
}

#damage-count{
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(180, 0, 0), rgba(255, 0, 0, 0));
    opacity: 0;
    position: absolute;
    width: 90%;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 30%; left: 50%;
    padding: 2px;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 100ms;
}

#damage-count *{
    color: white;
    margin: 2px;
}

#damage-count h2{
    font-family: "Delius Swash Caps";
    font-size: 50pt;
}
#damage-count h3{
    font-family: "Delius Swash Caps";
    font-size: 30pt;
}

#show-rewards{
    position: absolute;
    right: 20px;
    bottom: 130px;
    border: none;
    background-color: none;
    width: 100px;
    height: 100px;
    padding: 0%;
    cursor: pointer;
    border: 3px solid rgb(102, 78, 12);
    border-radius: 50%;
}
#show-rewards img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#show-rewards img:hover{
    filter: brightness(50%);
}

#screen-show-rewards{
    color: white;
    font-family: "Delius Swash Caps";
    background-color: rgb(14, 30, 255);
    border: 3px solid rgb(13, 13, 73);
    position: absolute;
    z-index: 999;
    width: 90vw; height: 85vh;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dequeRewards{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    overflow-x: scroll;
}

.cardReward{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}

@media (max-width: 900px) {
    #status{
        justify-content: flex-start;

        position: absolute;
        width: 100vw;
        left: 0px;
        right: 0px;
        bottom:0px;
        height: 50%;
    }

    .reward{
        width: 80vw; height: 80vw;
    }
    .reward h3{
        font-size: 14pt;
    }
    .reward p{
        font-size: 10pt;
    }
    .reward img{
        width: 60px; height: 60px;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    #status{
        top: 610px;
    }
}
@media (max-width: 200px){
    #damage-count{
        top: 10%;
    }
    #damage-count h2{
        font-size: 30pt;
    }
    #damage-count h3{
        font-size: 20pt;
    }
    #status{
        top: 160px;
    }
    #show-rewards, #weapon{
        width: 60px; height: 60px;
    }
}
@media (min-width: 201px) and (max-width: 300px){
    #damage-count{
        top: 10%;
    }
    #damage-count h2{
        font-size: 30pt;
    }
    #damage-count h3{
        font-size: 20pt;
    }
    #status{
        top: 210px;
    }
    #show-rewards, #weapon{
        width: 80px; height: 80px;
    }
}
@media (min-width: 301px) and (max-width: 400px){
    #damage-count{
        top: 15%;
    }
    #damage-count h2{
        font-size: 30pt;
    }
    #damage-count h3{
        font-size: 20pt;
    }
    #status{
        top: 360px;
    }
    #show-rewards, #weapon{
        width: 80px; height: 80px;
    }
}
@media (min-width: 401px) and (max-width: 500px){
    #damage-count{
        top: 15%;
    }
    #status{
        top: 410px;
    }
    #show-rewards, #weapon{
        width: 80px; height: 80px;
    }
}
@media (min-width: 500px) and (max-width: 600px){
    #damage-count{
        top: 20%;
    }
    #status{
        top: 510px;
    }
}