.espelho{
    background-image: url("../../Sprites/Map/MirrorRoom/mirror_ground1.svg");
}
.espelho:nth-child(odd){
    background-image: url("../../Sprites/Map/MirrorRoom/mirror_ground2.svg");
}
.bau{
    background-image: url("../../Sprites/Map/MirrorRoom/chest.svg");
}

.bau-aberto{
    background-image: url("../../Sprites/Map/MirrorRoom/opened-chest.svg");
}
